@import "reset";
@import "variables/global";
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500;600;800&display=swap");

body {
  font: var(--font-m);
  color: var(--white-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  min-height: 600px;
  margin: 0 auto;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--gray-color);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
}
